/* Geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea; /* Cor de fundo mais clara */
    margin: 0;
    padding: 0;
}

/* Breadcrumbs */
.breadcrumbs {
    background-color: #28a745; /* Verde vibrante */
    color: white;
    padding: 20px 0; /* Aumentar o padding */
}

.breadcrumbs .page-title {
    margin: 0;
    font-size: 2.5rem; /* Aumentar o tamanho da fonte */
    text-align: center; /* Centralizar título */
}

.breadcrumb-nav {
    list-style: none;
    padding: 0;
    text-align: center; /* Centralizar a navegação */
}

.breadcrumb-nav li {
    display: inline;
    margin-right: 15px; /* Aumentar espaço entre os itens */
}

.breadcrumb-nav a {
    color: white;
    text-decoration: underline; /* Sublinhar links */
}

/* Seção Principal */
.section {
    padding: 60px 0; /* Aumentar o padding */
}

/* Card Container */
.card {
    background: white;
    border-radius: 12px; /* Canto arredondado maior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
    padding: 30px; /* Aumentar o padding */
    margin: 30px 0; /* Aumentar o margin */
}

/* Card Header */
.card-header {
    margin-bottom: 25px; /* Aumentar o margin */
}

.card-header h1 {
    margin: 0;
    font-size: 2rem; /* Aumentar o tamanho da fonte */
    color: #343a40; /* Cor mais escura */
    text-align: center; /* Centralizar título */
}

/* Search Container */
.search-container {
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-end;
}

.search-input {
    padding: 12px; /* Aumentar o padding */
    width: 320px; /* Aumentar a largura */
    border: 2px solid #28a745; /* Usar a nova cor */
    border-radius: 8px; /* Canto arredondado */
    font-size: 1rem;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #218838; /* Tom mais escuro ao focar */
    outline: none;
}

/* Tabela */
.table-container {
    margin-top: 25px; /* Aumentar o espaço acima da tabela */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th.mat-header-cell {
    background-color: #28a745; /* Cabeçalho da tabela em verde */
    color: white;
    padding: 12px; /* Aumentar o padding */
    text-align: left;
}

td.mat-cell {
    padding: 12px; /* Aumentar o padding */
    border-bottom: 2px solid #ddd; /* Espessura do border */
}

td.mat-cell:hover {
    background-color: #f8f9fa; /* Cor de fundo ao passar o mouse */
}

/* Paginador */
.mat-paginator {
    margin-top: 25px; /* Aumentar o espaço acima do paginador */
}

/* Estilização para dispositivos móveis */
@media (max-width: 768px) {
    .search-container {
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-input {
        width: 100%;
    }

    .card-header h1 {
        font-size: 1.8rem; /* Ajustar tamanho da fonte */
    }
}
